/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* --font-roboto: "Roboto Serif", serif; */
  /* font-family: "Roboto", sans-serif; */
  /* --color-main: #8161cc;
  --color-white: #ffffff;
  --color-background: #161d26;
  --color-subcard: #12181f;
  --color-card: #0b0e13;
  --color-secondText: #a4a8ab;
  --color-up: #0caf60;
  --color-Sub-cardopacity: #12181f80;
  --color-GraysWhite: #ffffff;
  --color-UpContainer: #1f2f2f;
  --color-upopacity: #0caf6066;
  --color-PendingContainer: #f7931a26;
  --color-Pending: #fb774a;
  --color-DownContainer: #332229;
  --color-Down: #ef5350;
  --color-text: #c3cddb; */
}

/****************************************Chrome, Safari, Edge, Opera ******************************************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************************************************ Firefox *****************************************************/
input[type="number"] {
  -moz-appearance: textfield;
}

/********************************************* Loader *************************************/

.spinner {
  width: 11.2px;
  height: 11.2px;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(71, 75, 255, 0.2),
    22.7px 16.5px 0 0 rgba(71, 75, 255, 0.4),
    8.68px 26.6px 0 0 rgba(71, 75, 255, 0.6),
    -8.68px 26.6px 0 0 rgba(71, 75, 255, 0.8), -22.7px 16.5px 0 0 #474bff;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}

/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/* Remove underline from the clear button */
.rs-btn {
  text-decoration: none !important;
}

.rs-btn:hover {
  text-decoration: none !important;
}

.rs-picker-toolbar-ranges .rs-btn {
  text-decoration: none !important;
}

.rs-picker-toolbar-ranges .rs-btn:hover {
  text-decoration: none !important;
}

.clear-btn-no-underline {
  text-decoration: none !important;
}

/* DatePickerStyles.css */
.rs-calendar-table-cell-disabled .rs-calendar-table-cell-content {
  text-decoration: none !important;
  opacity: 0.3;
}

.rs-calendar-month-dropdown-year-active
  .rs-calendar-month-dropdown-cell-content {
  text-decoration: none !important;
}

.rs-calendar-table-cell-disabled {
  text-decoration: none !important;
}

.rs-calendar-month-dropdown-cell-disabled
  .rs-calendar-month-dropdown-cell-content {
  text-decoration: none !important;
  opacity: 0.3;
}

/* 🎨 Make all months yellow */
.rs-calendar-month-dropdown .rs-calendar-month-dropdown-cell-content {
  /* color: !important; */
  text-decoration: none !important;
  /* font-weight: 600;  */
  /* optional: make them bold */
}

/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/**************************************************************************************************************************************************************/
/************************************************************************** Range Date Picker *****************************************************************/
